*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    padding: 20px;
    margin: 40px;
}
.col{
    width: 100%;
   border-radius: 10px;
    background-color: black;
    color: white;
    height: fit-content;
}